/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

.estilo {
  display: flex;
  background-color: rgb(1, 102, 68);
}

.estilo li {
  display: inline;
  margin: 3em;
  font-size: x-large;
  color: rgb(255, 255, 255);
  font-family: monospace;
}

.estilo h1 {
  color: rgb(255, 255, 255);
  margin-left: 2em;
  font-style: oblique;
  font-size: xx-large;
  font-family: fantasy;
}
